.botaoFinalizar{
    margin-top: 1em;
    font-size: 1.8em;
}

.jogo {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1{
   font-size: 2.5em;
}

.pontos{
    font-weight: bold;
}

.dicaPalavra{
    font-weight: 100;
    text-decoration: underline;
}

.containerPalavra{
    margin: 1.5em;

    border: 20px solid #ecfa00;
    display: inline-flex;
}

.letra, .quadradoBranco{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
}

.containerDaLetra p{
    margin-bottom: 1.2em;
}

.containerDaLetra form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDaLetra input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.botao{
    margin: 0;
    padding: 0.4em;
}