.tela {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    margin: 0;
    padding-top: 2em;
    color: #7d9122;
    font-size: 50px ;
}

.cliqueAbaixo {
    font-size: 30px;
    margin-top: 1em;
    color: #393e28;
}

.botaoIniciar{
    margin-top: 1em;
    font-size: 1.8em;
}

